*{
  transition: all 0.2s ease-in
}
body{
  font-family: sans-serif;
  background-color: white;
}
#app{
  padding: 50px 0;

  overflow-x: hidden;
}
.title{
  margin: 100px 0 25px 0;
  font-weight: bold;
  padding: 0 15px;
}
.black-color{
  color: black;
}
.red-color{
  color: red;
}
.white-color{
  color: white;
}

.font-bold{
  font-weight: bold;
}
.none-focus{
  &:focus, &:active{
    outline: none;
  }
}
.navbar{
  //.container{
  //  padding: 0;
  //  margin: 0;
  //  width: 100%;
  //}
  //.navbar-header{
  //  width: 100%;
  //}
  .navbar-brand{
    font-weight: bold;
    font-size: 22px;
  }
  .navbar-button{
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50px;
    border: none;
    float: right;
    border-radius: 0;
    .icon-bar{
      width: 60%;
      margin: 7px auto;
      height: 3px;
    }

  }
  @media (min-width: 768px) {
    .container{
      margin: 0;
      padding: 0 0 0 15px;
      width: 100%;
    }
    .navbar-header{
      width: 100%;
    }
    .navbar-button {
      display: block;
      float: right;
    }
  }
}

.catalog{
  .list-group {
    margin: 0;
    border-bottom: 2px solid rgb(220, 220, 220);
    a {
      color: rgb(120, 120, 120);
      .list-group-item {
        border-radius: 0;
        height: 55px;
        line-height: 33px;
        border-top: 2px solid rgb(220, 220, 220);
        border-right: none;
        border-bottom: none;
        border-left: none;
        background-color: rgb(240, 240, 240);
        .glyphicon {
          float: right;
          font-size: 20px;
          top: 7px;
          color: rgb(180, 180, 180);
        }
      }
    }
  }
}

.masters{
  img{
    height: 180px;
  }
  p{
    color: rgb(107,100,95);
    font-weight: bold;
    font-size: 12px;
  }
  .btn{
    margin: auto auto;
    color: rgb(107,100,95);
    border: 1px solid rgb(107,100,95);
    border-radius: 40px;
    background-color: white;
    &:active{
      background-color: rgb(107,100,95);
      color: white;
    }
  }
}

.contacts{
  p{
    line-height: 2;
  }
}

.special-offers{
  .special-offer {
    padding: 15px;
    img {
      width: 100%;
    }
    p {
      font-size: 12px;
      line-height: 1.4;
      .offer {
        color: rgb(107, 100, 95);
      }
      .old-price {
        text-decoration: line-through;
      }
      .new-price {
        color: rgb(255, 127, 0);
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
}

.main-page-slider{
  width: 100%;
  margin: 10px 0;
  position: relative;
  .owl-nav{
    top: 40%;
    position: absolute;
    width: 100%;
    .owl-prev, .owl-next{
      height: 40px;
      width: 40px;
      position: absolute;
      background-color: rgba(255,255,255,0.7);
      border-radius: 50%;
      font-size: 32px;
      padding: 0 5px;
      color: rgba(120,120,120,0.8);
    }
    .owl-prev{
      left: 30px;
    }
    .owl-next{
      right: 30px;
    }

  }
  .owl-dots{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    max-width: 300px;
    margin: auto auto;
    .owl-dot{
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: 2px solid orange;
      background-color: white;
    }
    .active{
      background-color: rgb(120,120,120);
    }
  }

}
.tel-input{
  margin: auto auto;
  input{
    border: 2px solid gold;
    letter-spacing: 2px;
  }
  .btn{
    background-color: gold;
    width: 40px;
    font-size: 32px;
    height: 36px;
    line-height: 0;
    padding: 0;
    overflow: hidden;
    &:focus, &:active{
      outline: none;
      color: white;
    }
  }
}

.fixed-footer{
  .btn-group {
    padding: 0;
    .btn{
      height: 40px;
      margin: 0;
      border-radius: 0;
      background-color: rgb(250,250,250);
      border: 1px solid rgb(200,200,200);
      border-right: none;
      border-bottom: none;
      &:first-child{
        border-left: none;
      }
    }
  }
}
#main-modal{
  width: 100%;
  .modal-dialog {
    margin: 0;
    width: 100%;
    height: 100%;
    .modal-content {
      width: 100%;
      border: none;
      border-radius: 0;
      background-color: rgba(0,0,0,0.7);
      height: 100%;
      .modal-header {
        padding: 0;
        border: none;
        height: 50px;
        .modal-brand {
          padding: 14px 15px;
          font-weight: bold;
          font-size: 22px;
        }
        .close{
          color: white;
          font-weight: 100;
          font-size: 80px;
          line-height: 48px;
          opacity: 1;
          margin: 0 2px 0 0;
        }
      }
      .modal-body{
        height: calc(100% - 200px);
        .links{
          list-style: none;
          padding: 0;
          li{
            height: 35px;
            a{
              color: white;
              text-decoration: underline;
            }
          }
        }
      }
      .modal-footer{
        border: none;
        height: 150px;
        .social-media{
          margin: 15px;
          position: relative;
          left: -60px;
        }
        .arrow{
          position: relative;
          width: 40px;
          top: 12px;
        }
        .social-media-links{
          .social-media-link{
            height: 50px;
            width: 50px;
            margin: 0 5px;
          }
        }
      }
    }
  }
}

.appointment{
  form{
    padding: 15px;
    .search{
      input[type="search"]{
        border-left: none;
      }
      .input-group-addon{
        background-color: white;
        border-right: none;
      }
    }
    .picked-service {
      height: auto;
      border: 1px solid #ccd0d2;
      border-radius: 4px;
      padding: 6px 80px 6px 12px;
      display: flex;
      .picked-service-control {
        position: absolute;
        top: 1px;
        right: 12px;
        .remove{
          color: red;
          font-size: 20px;
        }
      }
    }
    input[type="submit"]{
      background-color: rebeccapurple;
      color: white;
    }
  }
}

.service-page{
  .title {
    font-size: 20px;
    margin-top: 20px;
  }
  .list-group-item {
    padding-right: 80px;
    .service-price {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }
}



#service-modal{
  background-color: rgba(255,255,255,0.4);
  min-height: 100%;
  .modal-dialog {
    margin: 0 auto;
    background-color: rgb(255,255,255);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    min-height: calc(100% - 30px);
    .modal-content {
      margin: 15px 0;
      border: none;
      border-radius: 0;
      background-color: rgb(255,255,255);
      width: 100%;
      min-height: 100%;
      .modal-header {
        padding: 0 40px 0 0;
        .page-header{
          margin: 0 ;
          padding: 15px ;
          border: none;
          .service-title{
            margin: 0;
          }
        }
        .close{
          color: rgb(80,80,80);
          font-weight: 100;
          font-size: 60px;
          opacity: 1;
          margin: 0 2px 0 0;
          position: absolute;
          right: 2px;
          top: -7px;
        }
      }
      .modal-body{
        padding: 0 15px 70px 15px;
        .old-price {
          text-decoration: line-through;
        }
        .new-price {
          color: rgb(255, 127, 0);
          font-weight: bold;
          font-size: 18px;
        }
        img{
          margin: auto auto;
        }
      }
      .modal-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 70px;
        text-align: center;
        .btn {
          margin: auto auto;
          width: 100%;
          max-width: 400px;
        }
      }
    }
  }
}